* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.navbar {
    text-decoration: none;
   margin: auto;
}

nav ul {
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

nav ul li {
    position: relative;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    color:mistyrose;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
    font-weight: bolder;
}

nav ul li a:hover {
    color:dodgerblue;
} 

.logo {
    clip-path:none;
}

body {
    background-image: url(../IMAGES/contact.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.container {
    color: floralwhite;
    font-weight: bolder;
}

.content-card {
    background-color:black;
}

footer {
    text-align: center;
}

footer a i {
    padding: 20px;
    color: yellow;
}

p{
    color: mistyrose;
    font-weight: bold;
    font-style: oblique;
}